.react-flow__node {
    border-radius: 8px;
    font-size: 14px;
}

.node-box {
    padding: 10px;
    width: 220px;
}

textarea {
    width: 100%;
    resize: none;
}

.answer-box {
    white-space: pre-wrap;
}
